---
Checks: '-*,
bugprone-*,
clang-analyzer-*,
cppcoreguidelines-*,
google-*,
hicpp-*,
llvm-include-order,
llvm-namespace-comment,
misc-*,
modernize-*,
performance-*,
readability-*,
'
HeaderFilterRegex: '.*/violet/.*'
AnalyzeTemporaryDtors: false
FormatStyle: file
CheckOptions:
...
