name: macOS

on: [push]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2

    - name: Install Conan
      run: |
          pip install conan
          conan profile new default --detect

    - name: Configure
      run: cmake -B build -DVIOLET_CHECK_FORMAT=OFF

    - name: Build
      run: cmake --build build

    - name: Test
      run: |
          cd build
          ctest --output-on-failure
