name: Ubuntu

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1

    - name: Upgrade pip
      run: pip install --upgrade pip

    - name: Install Conan
      run: |
          pip install conan
          conan profile new default --detect
          conan profile update settings.compiler.libcxx=libstdc++11 default

    - name: Install clang-format
      run: pip install clang-format

    - name: Create conan package
      run: conan create .
