name: Windows

on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2

    - name: Install Conan
      run: |
          pip install conan
          conan profile new default --detect

    - name: Configure
      run: cmake -B build -DVIOLET_LINT=OFF -DVIOLET_FORMAT=OFF -DVIOLET_WARNINGS_AS_ERRORS=ON

    - name: Build
      run: cmake --build build --config Release

    - name: Test
      run: |
          cd build
          ctest --output-on-failure
